.cls_1 {
  opacity: 0.2;
}

.cls_2,
.cls_5,
.cls_6 {
  font-size: 14.25px;
}

.cls_10,
.cls_2,
.cls_3,
.cls_4,
.cls_5,
.cls_6,
.cls_7 {
  fill: #8b7936;
}

.cls_2,
.cls_4,
.cls_5 {
  font-family: Poppins-SemiBold, Poppins;
  font-weight: 600;
}

.cls_2 {
  letter-spacing: 0em;
}

.cls_3 {
  font-size: 13.5px;
  font-family: Poppins-Regular, Poppins;
  letter-spacing: 0em;
}

.cls_4 {
  font-size: 13.06px;
  letter-spacing: 0em;
}

.cls_5 {
  letter-spacing: 0em;
}

.cls_6 {
  font-family: Poppins-Bold, Poppins;
  font-weight: 700;
  letter-spacing: 0em;
}

.cls_8,
.cls_9 {
  fill: none;
  stroke: #8b7936;
  stroke-miterlimit: 10;
}

.cls_8 {
  stroke-width: 0.75px;
}

.cls_10 {
  font-size: 76.34px;
  font-family: OldEnglishTextMT, Old English Text MT;
}
.cls_1 {
  fill: #ebe1e1;
}
.cls_2 {
  fill: #9c8b71;
}
.cls_3 {
  fill: #a29076;
}
.cls_4 {
  fill: #b19f8b;
}
.cls_5 {
  fill: #ecdfd6;
}
.cls_6 {
  fill: #af9e87;
}
.cls_7 {
  fill: #9a876f;
}
.cls_8 {
  fill: #806f58;
}
.cls_9 {
  fill: #aa9780;
}
.cls_10 {
  fill: #99856a;
}
.cls_11 {
  fill: #a49177;
}
.cls_12 {
  fill: #b4a18d;
}
.cls_13 {
  fill: #a3917f;
}
.cls_14 {
  fill: #86745a;
}
.cls_15 {
  fill: #c9b8a2;
}
.cls_16 {
  fill: #5f5039;
}
.cls_17 {
  fill: #8b775d;
}
.cls_18 {
  fill: #907d65;
}
.cls_19 {
  fill: #a99880;
}
.cls_20 {
  fill: #a3907a;
}
.cls_21 {
  fill: #a89682;
}
.cls_22 {
  fill: #8c7b66;
}
.cls_23 {
  fill: #c4b29c;
}
.cls_24 {
  fill: #ebdbd7;
}
.cls_25 {
  fill: #5f4f38;
}
.cls_26 {
  fill: #a79682;
}
.cls_27 {
  fill: #a18f7b;
}
.cls_28 {
  fill: #a3927c;
}
.cls_29 {
  fill: #5d4e38;
}
.cls_30 {
  fill: #c0ae97;
}
.cls_31 {
  fill: #917e68;
}
.cls_32 {
  fill: #695842;
}
.cls_33 {
  fill: #6c5d46;
}
.cls_34 {
  fill: #70604b;
}
.cls_35 {
  fill: #e7d7c9;
}
.cls_36 {
  fill: #6f5f46;
}
.cls_37 {
  fill: #87735d;
}
.cls_38 {
  fill: #605035;
}
.cls_39 {
  fill: #e2d0c2;
}
.cls_40 {
  fill: #a69482;
}
.cls_41 {
  fill: #a99888;
}
.cls_42 {
  fill: #9c886e;
}
.cls_43 {
  fill: #928268;
}
.cls_44 {
  fill: #af9e8a;
}
.cls_45 {
  fill: #7e6c50;
}
.cls_46 {
  fill: #83725a;
}
.cls_47 {
  fill: #716148;
}
.cls_48 {
  fill: #93826c;
}
.cls_49 {
  fill: #95836d;
}
.cls_50 {
  fill: #7e6d56;
}
.cls_51 {
  fill: #ac997d;
}
.cls_52 {
  fill: #b6a68e;
}
.cls_53 {
  fill: #7f6e56;
}
.cls_54 {
  fill: #c5b4a3;
}
.cls_55 {
  fill: #b9a99d;
}
.cls_56 {
  fill: #edded6;
}
.cls_57 {
  fill: #9c8d7d;
}
.cls_58 {
  fill: #bcb1ab;
}
.cls_59 {
  fill: #bdac9a;
}
.cls_60 {
  fill: #7f6c52;
}
.cls_61 {
  fill: #6b5b40;
}
.cls_62 {
  fill: #a6947c;
}
.cls_63 {
  fill: #b7a68d;
}
.cls_64 {
  fill: #e4d3c5;
}
.cls_65 {
  fill: #7a6950;
}
.cls_66 {
  fill: #847467;
}
.cls_67 {
  fill: #96866f;
}
.cls_68 {
  fill: #64523c;
}
.cls_69 {
  fill: #8e7c66;
}
.cls_70 {
  fill: #a09181;
}
.cls_71 {
  fill: #8d7c60;
}
.cls_72 {
  fill: #5b4c33;
}
.cls_73 {
  fill: #dccabd;
}
.cls_74 {
  fill: #9b8b79;
}
.cls_75 {
  fill: #a69588;
}
.cls_76 {
  fill: #958168;
}
.cls_77 {
  fill: #cbb39f;
}
.cls_78 {
  fill: #62523a;
}
.cls_79 {
  fill: #9f8c73;
}
.cls_80 {
  fill: #938575;
}
.cls_81 {
  fill: #afa28f;
}
.cls_82 {
  fill: #c4b3a0;
}
.cls_83 {
  fill: #dbc8b8;
}
.cls_84 {
  fill: #796554;
}
.cls_85 {
  fill: #62513a;
}
.cls_86 {
  fill: #9d8c7a;
}
.cls_87 {
  fill: #e8d8c9;
}
.cls_88 {
  fill: #817459;
}
.cls_89 {
  fill: #a69785;
}
.cls_90 {
  fill: #806e54;
}
.cls_91 {
  fill: #958772;
}
.cls_92 {
  fill: #615039;
}
.cls_93 {
  fill: #7c6958;
}
.cls_94 {
  fill: #aa9681;
}
.cls_95 {
  fill: #a59585;
}
.cls_96 {
  fill: #827357;
}
.cls_97 {
  fill: #d5c3ad;
}
.cls_98 {
  fill: #cebeac;
}
.cls_99 {
  fill: #9a887b;
}
.cls_100 {
  fill: #a8998e;
}
.cls_101 {
  fill: #d7c7b8;
}
.cls_102 {
  fill: #8b7c69;
}
.cls_103 {
  fill: #9c8c7a;
}
.cls_104 {
  fill: #ab9d8d;
}
.cls_105 {
  fill: #b1a49e;
}
.cls_106 {
  fill: #b49e8a;
}
.cls_107 {
  fill: #9d8f7c;
}
.cls_108 {
  fill: #6a5a40;
}
.cls_109 {
  fill: #665640;
}
.cls_110 {
  fill: #b4a899;
}
.cls_111 {
  fill: #a49486;
}
.cls_112 {
  fill: #b1a191;
}
.cls_113 {
  fill: #9c8c7d;
}
.cls_114 {
  fill: #584834;
}
.cls_115 {
  fill: #73614f;
}
.cls_116 {
  fill: #bfb2a0;
}
.cls_117 {
  fill: #ad9d8e;
}
.cls_118 {
  fill: #d9caa9;
}
.cls_119 {
  fill: #75664f;
}
.cls_120 {
  fill: #5f4c37;
}
.cls_121 {
  fill: #a3928a;
}
.cls_122 {
  fill: #877355;
}
.cls_123 {
  fill: #a39588;
}
.cls_124 {
  fill: #b8aaa4;
}
.cls_125 {
  fill: #6c5e46;
}
.cls_126 {
  fill: #a7957d;
}
.cls_127 {
  fill: #655241;
}
.cls_128 {
  fill: #ecd7cb;
}
.cls_129 {
  fill: #b7a491;
}
.cls_130 {
  fill: #66533c;
}
.cls_131 {
  fill: #b1a69c;
}
.cls_132 {
  fill: #816f5c;
}
.cls_133 {
  fill: #aa9882;
}
.cls_134 {
  fill: #685b50;
}
.cls_135 {
  fill: #9d8c74;
}
.cls_136 {
  fill: #a08e77;
}
.cls_137 {
  fill: #84735b;
}
.cls_138 {
  fill: #8d7d68;
}
.cls_139 {
  fill: #9c8a73;
}
.cls_140 {
  fill: #816e56;
}
.cls_141 {
  fill: #756348;
}
.cls_142 {
  fill: #7d6c52;
}
.cls_143 {
  fill: #b7a492;
}
.cls_144 {
  fill: #9e8b74;
}
.cls_145 {
  fill: #887862;
}
.cls_146 {
  fill: #c1b0a1;
}
.cls_147 {
  fill: #b09d85;
}
.cls_148 {
  fill: #bead99;
}
.cls_149 {
  fill: #8a755e;
}
.cls_150 {
  fill: #a08d77;
}
.cls_151 {
  fill: #796550;
}
.cls_152 {
  fill: #a69178;
}
.cls_153 {
  fill: #9d8a6e;
}
.cls_154 {
  fill: #ae9d85;
}
.cls_155 {
  fill: #635139;
}
.cls_156 {
  fill: #6d5c46;
}
.cls_157 {
  fill: #67543f;
}
.cls_158 {
  fill: #7e6e56;
}
.cls_159 {
  fill: #6a5841;
}
.cls_160 {
  fill: #98876f;
}
.cls_161 {
  fill: #7c6950;
}
.cls_162 {
  fill: #c6b39f;
}
.cls_163 {
  fill: #816d53;
}
.cls_164 {
  fill: #75654c;
}
.cls_165 {
  fill: #695844;
}
.cls_166 {
  fill: #9f8a70;
}
.cls_167 {
  fill: #958a79;
}
.cls_168 {
  fill: #b5a79b;
}
.cls_169 {
  fill: #a9977f;
}
.cls_170 {
  fill: #ebdbcf;
}
.cls_171 {
  fill: #dbc6b3;
}
.cls_172 {
  fill: #78664f;
}
.cls_173 {
  fill: #ecddd3;
}
.cls_174 {
  fill: #7b684c;
}
.cls_175 {
  fill: #75644f;
}
.cls_176 {
  fill: #bca892;
}
.cls_177 {
  fill: #97856d;
}
.cls_178 {
  fill: #857561;
}
.cls_179 {
  fill: #907e69;
}
.cls_180 {
  fill: #6a5842;
}
.cls_181 {
  fill: #c6b8aa;
}
.cls_182 {
  fill: #69583e;
}
.cls_183 {
  fill: #5f4d37;
}
.cls_184 {
  fill: #e3d2c0;
}
.cls_185 {
  fill: #e8d7c7;
}
.cls_186 {
  fill: #d9c6b1;
}
.cls_187 {
  fill: #796950;
}
.cls_188 {
  fill: #efddd1;
}
.cls_189 {
  fill: #eddbd3;
}
.cls_190 {
  fill: #e0ccb0;
}
.cls_191 {
  fill: #e5d5cb;
}
.cls_192 {
  fill: #e7d6c9;
}
.cls_193 {
  fill: #e9d9d1;
}
.cls_194 {
  fill: #eadacc;
}
.cls_195 {
  fill: #75634f;
}
.cls_196 {
  fill: #796855;
}
.cls_197 {
  fill: #e3cfbf;
}
.cls_198 {
  fill: #f0ded9;
}
.cls_199 {
  fill: #e8d8c3;
}
.cls_200 {
  fill: #ead9ce;
}
.cls_201 {
  fill: #7f6e4d;
}
.cls_202 {
  fill: #e8d8c2;
}
.cls_203 {
  fill: #ebd5c8;
}
.cls_204 {
  fill: #eddcd2;
}
.cls_205 {
  fill: #c8b297;
}
.cls_206 {
  fill: #e4d0bc;
}
.cls_207 {
  fill: #b5a489;
}
.cls_208 {
  fill: #9c8a72;
}
.cls_209 {
  fill: #77644e;
}
.cls_210 {
  fill: #958067;
}
.cls_211 {
  fill: #86745d;
}
.cls_212 {
  fill: #96897e;
}
.cls_213 {
  fill: #88755e;
}
.cls_214 {
  fill: #5e4e3b;
}
.cls_215 {
  fill: #f1e0d5;
}
.cls_216 {
  fill: #edddd4;
}
.cls_217 {
  fill: #b7a99c;
}
.cls_218 {
  fill: #e3d4c3;
}
.cls_219 {
  fill: #76664e;
}
.cls_220 {
  fill: #dbcebb;
}
.cls_221 {
  fill: #ebd7c6;
}
.cls_222 {
  fill: #877156;
}
.cls_223 {
  fill: #d9c7b3;
}
.cls_224 {
  fill: #786a49;
}
.cls_225 {
  fill: #74614c;
}
.cls_226 {
  fill: #e6d7c8;
}
.cls_227 {
  fill: #d6c6b0;
}
.cls_228 {
  fill: #e9d9cf;
}
.cls_229 {
  fill: #c4b19c;
}
.cls_230 {
  fill: #867053;
}
.cls_231 {
  fill: #6f5d4a;
}
.cls_232 {
  fill: #dac4af;
}
.cls_233 {
  fill: #f0dbc5;
}
.cls_234 {
  fill: #725f40;
}
.cls_235 {
  fill: #e9d7c1;
}
.cls_236 {
  fill: #efdfd7;
}
.cls_237 {
  fill: #eddacc;
}
.cls_238 {
  fill: #e9d8c7;
}
.cls_239 {
  fill: #7d6a4e;
}
.cls_240 {
  fill: #ecd5cd;
}
.cls_241 {
  fill: #a08c70;
}
.cls_242 {
  fill: #f0dfd5;
}
.cls_243 {
  fill: #cdbca6;
}
.cls_244 {
  fill: #67513b;
}
.cls_245 {
  fill: #eee0d4;
}
.cls_246 {
  fill: #6b5c3f;
}
.cls_247 {
  fill: #6e6357;
}
.cls_248 {
  fill: #ecdbce;
}
.cls_249 {
  fill: #e2d0c1;
}
.cls_250 {
  fill: #e6d5c3;
}
.cls_251 {
  fill: #85765b;
}
.cls_252 {
  fill: #e7d4c7;
}
.cls_253 {
  fill: #806c55;
}
.cls_254 {
  fill: #68543a;
}
.cls_255 {
  fill: #f0e2da;
}
.cls_256 {
  fill: #76654e;
}
.cls_257 {
  fill: #85714e;
}
.cls_258 {
  fill: #efdecf;
}
.cls_259 {
  fill: #e7d6c6;
}
.cls_260 {
  fill: #b4a189;
}
.cls_261 {
  fill: #ebd9cd;
}
.cls_262 {
  fill: #ece1d4;
}
.cls_263 {
  fill: #eddccc;
}
.cls_264 {
  fill: #b3a088;
}
.cls_265 {
  fill: #64543b;
}
.cls_266 {
  fill: #ecdac6;
}
.cls_267 {
  fill: #f0e0d6;
}
.cls_268 {
  fill: #ecddd2;
}
.cls_269 {
  fill: #b5a189;
}
.cls_270 {
  fill: #baa997;
}
.cls_271 {
  fill: #6f6043;
}
.cls_272 {
  fill: #7d6b51;
}
.cls_273 {
  fill: #e9dbd1;
}
.cls_274 {
  fill: #e6d4c6;
}
.cls_275 {
  fill: #ecdcd3;
}
.cls_276 {
  fill: #ecdad1;
}
.cls_277 {
  fill: #7c694d;
}
.cls_278 {
  fill: #e4d3cb;
}
.cls_279 {
  fill: #ecd8c8;
}
.cls_280 {
  fill: #b09f89;
}
.cls_281 {
  fill: #ead9c9;
}
.cls_282 {
  fill: #ead8cb;
}
.cls_283 {
  fill: #71614c;
}
.cls_284 {
  fill: #e4d3c0;
}
.cls_285 {
  fill: #ecdbd7;
}
.cls_286 {
  fill: #e1ceb9;
}
.cls_287 {
  fill: #dcc9ba;
}
.cls_288 {
  fill: #ebd9ca;
}
.cls_289 {
  fill: #eee0d0;
}
.cls_290 {
  fill: #ede1d9;
}
.cls_291 {
  fill: #d2bfad;
}
.cls_292 {
  fill: #958268;
}
.cls_293 {
  fill: #d7c1b4;
}
.cls_294 {
  fill: #857555;
}
.cls_295 {
  fill: #e9d6cb;
}
.cls_296 {
  fill: #e8d5cd;
}
.cls_297 {
  fill: #ecdbd1;
}
.cls_298 {
  fill: #efe1d9;
}
.cls_299 {
  fill: #eddcd6;
}
.cls_300 {
  fill: #76654c;
}
.cls_301 {
  fill: #e2cabc;
}
.cls_302 {
  fill: #b7a38f;
}
.cls_303 {
  fill: #e4d2bf;
}
.cls_304 {
  fill: #e7d8cf;
}
.cls_305 {
  fill: #e7d6c1;
}
.cls_306 {
  fill: #b7a287;
}
.cls_307 {
  fill: #eedacf;
}
.cls_308 {
  fill: #cbbb9e;
}
.cls_309 {
  fill: #b6a691;
}
.cls_310 {
  fill: #bba892;
}
.cls_311 {
  fill: #e7d8cd;
}
.cls_312 {
  fill: #9a8b7f;
}
.cls_313 {
  fill: #eeddcf;
}
.cls_314 {
  fill: #e5d2c6;
}
.cls_315 {
  fill: #ead8c8;
}
.cls_316 {
  fill: #d5c1a9;
}
.cls_317 {
  fill: #afa191;
}
.cls_318 {
  fill: #ccb9ab;
}
.cls_319 {
  fill: #eadbcd;
}
.cls_320 {
  fill: #e8d9cf;
}
.cls_321 {
  fill: #e7dbdb;
}
.cls_322 {
  fill: #79674e;
}
.cls_323 {
  fill: #60503c;
}
.cls_324 {
  fill: #ebdccb;
}
.cls_325 {
  fill: #ebdaca;
}
.cls_326 {
  fill: #afa39a;
}
.cls_327 {
  fill: #e9d9cd;
}
.cls_328 {
  fill: #e1cec0;
}
.cls_329 {
  fill: #c7b4a0;
}
.cls_330 {
  fill: #a5927c;
}
.cls_331 {
  fill: #ebdad2;
}
.cls_332 {
  fill: #d3c3ae;
}
.cls_333 {
  fill: #d3c0ac;
}
.cls_334 {
  fill: #e8d7c2;
}
.cls_335 {
  fill: #978671;
}
.cls_336 {
  fill: #837055;
}
.cls_337 {
  fill: #9e8d76;
}
.cls_338 {
  fill: #b1a18e;
}
.cls_339 {
  fill: #dbcdba;
}
.cls_340 {
  fill: #dccdb6;
}
.cls_341 {
  fill: #eae0df;
}
.cls_342 {
  fill: #ebddd9;
}
.cls_343 {
  fill: #b3a089;
}
.cls_344 {
  fill: #e1d0bb;
}
.cls_345 {
  fill: #af9d86;
}
.cls_346 {
  fill: #e7d7c7;
}
.cls_347 {
  fill: #eadad1;
}
.cls_348 {
  fill: #796952;
}
.cls_349 {
  fill: #e7d6cc;
}
.cls_350 {
  fill: #675540;
}
.cls_351 {
  fill: #e0d2bf;
}
.cls_352 {
  fill: #dfcbb1;
}
.cls_353 {
  fill: #e7d9cb;
}
.cls_354 {
  fill: #ead9d2;
}
.cls_355 {
  fill: #a08d74;
}
.cls_356 {
  fill: #cfbb9e;
}
.cls_357 {
  fill: #bdab96;
}
.cls_358 {
  fill: #625238;
}
.cls_359 {
  fill: #52412b;
}
.cls_360 {
  fill: #5d4c37;
}
.cls_361 {
  fill: #e9ddd4;
}
.cls_362 {
  fill: #e3d0c2;
}
.cls_363 {
  fill: #7b6855;
}
.cls_364 {
  fill: #796751;
}
.cls_365 {
  fill: #e4d0be;
}
.cls_366 {
  fill: #ad9984;
}
.cls_367 {
  fill: #76654d;
}
.cls_368 {
  fill: #e5d4c7;
}
.cls_369 {
  fill: #665741;
}
.cls_370 {
  fill: #e7d1bf;
}
.cls_371 {
  fill: #aea092;
}
.cls_372 {
  fill: #e2d2c1;
}
.cls_373 {
  fill: #9c8770;
}
.cls_374 {
  fill: #e0d0bf;
}
.cls_375 {
  fill: #e6d6cd;
}
.cls_376 {
  fill: #604f34;
}
.cls_377 {
  fill: #85725b;
}
.cls_378 {
  fill: #6b5a48;
}
.cls_379 {
  fill: #dfcbb5;
}
.cls_380 {
  fill: #998770;
}
.cls_381 {
  fill: #89765c;
}
.cls_382 {
  fill: #6d5e46;
}
.cls_383 {
  fill: #84725c;
}
.cls_384 {
  fill: #cfbeaa;
}
.cls_385 {
  fill: #5e4e35;
}
.cls_386 {
  fill: #806e58;
}
.cls_387 {
  fill: #816f5a;
}
.cls_388 {
  fill: #867662;
}
.cls_389 {
  fill: #867860;
}
.cls_390 {
  fill: #a9998a;
}
.cls_391 {
  fill: #84725b;
}
.cls_392 {
  fill: #dbcbb8;
}
.cls_393 {
  fill: #a5917f;
}
.cls_394 {
  fill: #877a6a;
}
.cls_395 {
  fill: #5a4830;
}
.cls_396 {
  fill: #a6978b;
}
.cls_397 {
  fill: #9d8f8c;
}
.cls_398 {
  fill: #d8c9b3;
}
.cls_399 {
  fill: #6f5c47;
}
.cls_400 {
  fill: #dfd0c3;
}
.cls_401 {
  fill: #e9dfde;
}
.cls_402 {
  fill: #e1cfc1;
}
.cls_403 {
  fill: #ad9788;
}
.cls_404 {
  fill: #ecdbc7;
}
.cls_405 {
  fill: #b3a69e;
}
.cls_406 {
  fill: #5f503b;
}
.cls_407 {
  fill: #857463;
}
.cls_408 {
  fill: #e7d4c3;
}
.cls_409 {
  fill: #716147;
}
.cls_410 {
  fill: #dfcfba;
}
.cls_411 {
  fill: #a29180;
}
.cls_412 {
  fill: #7f6b53;
}
.cls_413 {
  fill: #e3d1c2;
}
.cls_414 {
  fill: #e5d6cb;
}
.cls_415 {
  fill: #7a694d;
}
.cls_416 {
  fill: #e5d9ce;
}
.cls_417 {
  fill: #887763;
}
.cls_418 {
  fill: #a38e76;
}
.cls_419 {
  fill: #e2d0bd;
}
.cls_420 {
  fill: #705c41;
}
.cls_421 {
  fill: #998675;
}
.cls_422 {
  fill: #9f8d7e;
}
.cls_423 {
  fill: #b7a788;
}
.cls_424 {
  fill: #e6dace;
}
.cls_425 {
  fill: #e2d2c4;
}
.cls_426 {
  fill: #e7d6c5;
}
.cls_427 {
  fill: #d1bea3;
}
.cls_428 {
  fill: #dfcdc1;
}
.cls_429 {
  fill: #e6d5c6;
}
.cls_430 {
  fill: #deceb9;
}
.cls_431 {
  fill: #a4927e;
}
.cls_432 {
  fill: #e3d2c3;
}
.cls_433 {
  fill: #eedbcd;
}
.cls_434 {
  fill: #e8dacf;
}
.cls_435 {
  fill: #c2b099;
}
.cls_436 {
  fill: #907f67;
}
.cls_437 {
  fill: #c6b6a3;
}
.cls_438 {
  fill: #ae9e85;
}
.cls_439 {
  fill: #cab9a8;
}
.cls_440 {
  fill: #b4a289;
}
.cls_441 {
  fill: #b5a38f;
}
.cls_442 {
  fill: #a8957d;
}
.cls_443 {
  fill: #cdbda7;
}
.cls_444 {
  fill: #c0ae99;
}
.cls_445 {
  fill: #bcac98;
}
.cls_446 {
  fill: #c3b39f;
}
.cls_447 {
  fill: #d9c8b6;
}
.cls_448 {
  fill: #c9b9a6;
}
.cls_449 {
  fill: #c2b19d;
}
.cls_450 {
  fill: #efdfd8;
}
.cls_451 {
  fill: #e4d6cb;
}
.cls_452 {
  fill: #ead9cb;
}
.cls_453 {
  fill: #dac9b7;
}
.cls_454 {
  fill: #a08f76;
}
.cls_455 {
  fill: #8b7b67;
}
.cls_456 {
  fill: #e5d6c7;
}
.cls_457 {
  fill: #d8c8b8;
}
.cls_458 {
  fill: #baa88b;
}
.cls_459 {
  fill: #7a694e;
}
.cls_460 {
  fill: #ac9c88;
}
.cls_461 {
  fill: #91806a;
}
.cls_462 {
  fill: #9e8b76;
}
.cls_463 {
  fill: #eddfd6;
}
.cls_464 {
  fill: #907f6a;
}
.cls_465 {
  fill: #b8a591;
}
.cls_466 {
  fill: #c7b6a0;
}
.cls_467 {
  fill: #cdbca8;
}
.cls_468 {
  fill: #ebded4;
}
.cls_469 {
  fill: #a28f75;
}
.cls_470 {
  fill: #eeded2;
}
.cls_471 {
  fill: #ad9b81;
}
.cls_472 {
  fill: #b2a08a;
}
.cls_473 {
  fill: #a1917e;
}
.cls_474 {
  fill: #d0bfab;
}
.cls_475 {
  fill: #eee0da;
}
.cls_476 {
  fill: #8e7c67;
}
.cls_477 {
  fill: #83715a;
}
.cls_478 {
  fill: #e2ceba;
}
.cls_479 {
  fill: #5d4e32;
}
.cls_480 {
  fill: #998a6f;
}
.cls_481 {
  fill: #b5a69a;
}
.cls_482 {
  fill: #83725f;
}
.cls_483 {
  fill: #bdada1;
}
.cls_484 {
  fill: #7d6d56;
}
.cls_485 {
  fill: #786853;
}
.cls_486 {
  fill: #645439;
}
.cls_487 {
  fill: #a29283;
}
.cls_488 {
  fill: #bcad99;
}
.cls_489 {
  fill: #b5a696;
}
.cls_490 {
  fill: #d7c8b9;
}
.cls_491 {
  fill: #817054;
}
.cls_492 {
  fill: #b4a48e;
}
.cls_493 {
  fill: #d2c3ae;
}
.cls_494 {
  fill: #847159;
}
.cls_495 {
  fill: #a7947d;
}
.cls_496 {
  fill: #867765;
}
.cls_497 {
  fill: #817161;
}
.cls_498 {
  fill: #a18f76;
}
.cls_499 {
  fill: #c7b9af;
}
.cls_500 {
  fill: #998a7e;
}
.cls_501 {
  fill: #b4a58f;
}
.cls_502 {
  fill: #65584a;
}
.cls_503 {
  fill: #918069;
}
.cls_504 {
  fill: #614f35;
}
.cls_505 {
  fill: #84745f;
}
.cls_506 {
  fill: #b6a493;
}
.cls_507 {
  fill: #7d6954;
}
.cls_508 {
  fill: #97866e;
}
.cls_509 {
  fill: #9d8d81;
}
.cls_510 {
  fill: #87765b;
}
.cls_511 {
  fill: #867561;
}
.cls_512 {
  fill: #92826c;
}
.cls_513 {
  fill: #c5b29c;
}
.cls_514 {
  fill: #9b8c78;
}
.cls_515 {
  fill: #bdb0a5;
}
.cls_516 {
  fill: #aa9e99;
}
.cls_517 {
  fill: #968472;
}
.cls_518 {
  fill: #776750;
}
.cls_519 {
  fill: #a99d94;
}
.cls_520 {
  fill: #76634e;
}
.cls_521 {
  fill: #918576;
}
.cls_522 {
  fill: #7e6e55;
}
.cls_523 {
  fill: #a6968b;
}
.cls_524 {
  fill: #6f5e4f;
}
.cls_525 {
  fill: #978d83;
}
.cls_526 {
  fill: #b8aa95;
}
.cls_527 {
  fill: #98887a;
}
.cls_528 {
  fill: #9b8a7a;
}
.cls_529 {
  fill: #7b6752;
}
.cls_530 {
  fill: #776850;
}
.cls_531 {
  fill: #e4d5c7;
}
.cls_532 {
  fill: #614f3b;
}
.cls_533 {
  fill: #806f5d;
}
.cls_534 {
  fill: #95847f;
}
.cls_535 {
  fill: #ada099;
}
.cls_536 {
  fill: #dfceb8;
}
.cls_537 {
  fill: #9d8c76;
}
.cls_538 {
  fill: #efdcd3;
}
.cls_539 {
  fill: #b4a18b;
}
.cls_540 {
  fill: #e1cebe;
}
.cls_541 {
  fill: #ebddd5;
}
.cls_542 {
  fill: #e1cdb2;
}
.cls_543 {
  fill: #f0ded5;
}
.cls_544 {
  fill: #907d63;
}
.cls_545 {
  fill: #efdecd;
}
.cls_546 {
  fill: #eadfd8;
}
.cls_547 {
  fill: #988a6c;
}
.cls_548 {
  fill: #eadad0;
}
.cls_549 {
  fill: #eeded9;
}
.cls_550 {
  fill: #eddcd1;
}
.cls_551 {
  fill: #8e7e64;
}
.cls_552 {
  fill: #ebdacf;
}
.cls_553 {
  fill: #eadbd0;
}
.cls_554 {
  fill: #6b5c44;
}
.cls_555 {
  fill: #e7d8c4;
}
.cls_556 {
  fill: #6b5b42;
}
.cls_557 {
  fill: #eee0d9;
}
.cls_558 {
  fill: #f0dfd2;
}
.cls_559 {
  fill: #735f46;
}
.cls_560 {
  fill: #edddd2;
}
.cls_561 {
  fill: #978376;
}
.cls_562 {
  fill: #eee0d7;
}
.cls_563 {
  fill: #6c5c3c;
}
.cls_564 {
  fill: #efe0da;
}
.cls_565 {
  fill: #eedfd4;
}
.cls_566 {
  fill: #928170;
}
.cls_567 {
  fill: #e6d6c6;
}
.cls_568 {
  fill: #efdfd0;
}
.cls_569 {
  fill: #7e6c54;
}
.cls_570 {
  fill: #eedfd6;
}
.cls_571 {
  fill: #867661;
}
.cls_572 {
  fill: #766650;
}
.cls_573 {
  fill: #dbc9af;
}
.cls_574,
.cls_593 {
  fill: #f7f7f7;
}
.cls_575 {
  fill: #877b5b;
  opacity: 0.64;
}
.cls_576 {
  fill: #f4f3f2;
}
.cls_577 {
  fill: #917313;
  stroke: #caab2c;
  stroke-width: 0.83px;
}
.cls_577,
.cls_581,
.cls_582,
.cls_845,
.cls_846 {
  stroke-miterlimit: 10;
}
.cls_578 {
  font-size: 15.54px;
}
.cls_578,
.cls_579,
.cls_842 {
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
}
.cls_579 {
  font-size: 18px;
}
.cls_580 {
  font-size: 26.18px;
  font-family: Poppins-Bold, Poppins;
  font-weight: 700;
}
.cls_581,
.cls_583,
.cls_845 {
  fill: none;
}
.cls_581,
.cls_582,
.cls_845,
.cls_846 {
  stroke: #050000;
}
.cls_581,
.cls_582 {
  stroke-width: 4px;
}
.cls_582,
.cls_846 {
  fill: #050000;
}
.cls_584 {
  opacity: 0.5;
}
.cls_585,
.cls_840 {
  fill: #fff;
}
.cls_585 {
  opacity: 0;
}
.cls_586 {
  fill: #fefefe;
  opacity: 0;
}
.cls_587 {
  fill: #fdfdfd;
  opacity: 0.01;
}
.cls_588 {
  fill: #fcfcfc;
  opacity: 0.01;
}
.cls_589 {
  fill: #fbfbfb;
  opacity: 0.02;
}
.cls_590 {
  fill: #fafafa;
  opacity: 0.02;
}
.cls_591 {
  fill: #f9f9f9;
  opacity: 0.02;
}
.cls_592 {
  fill: #f8f8f8;
  opacity: 0.03;
}
.cls_593 {
  opacity: 0.03;
}
.cls_594 {
  fill: #f6f6f6;
  opacity: 0.04;
}
.cls_595 {
  fill: #f5f5f5;
  opacity: 0.04;
}
.cls_596 {
  fill: #f4f4f4;
  opacity: 0.04;
}
.cls_597 {
  fill: #f3f3f3;
  opacity: 0.05;
}
.cls_598 {
  fill: #f2f2f2;
  opacity: 0.05;
}
.cls_599 {
  fill: #f1f1f1;
  opacity: 0.05;
}
.cls_600 {
  fill: #f0f0f0;
  opacity: 0.06;
}
.cls_601 {
  fill: #efefef;
  opacity: 0.06;
}
.cls_602 {
  fill: #eee;
  opacity: 0.07;
}
.cls_603 {
  fill: #ededed;
  opacity: 0.07;
}
.cls_604 {
  fill: #ececec;
  opacity: 0.07;
}
.cls_605 {
  fill: #ebebeb;
  opacity: 0.08;
}
.cls_606 {
  fill: #eaeaea;
  opacity: 0.08;
}
.cls_607 {
  fill: #e9e9e9;
  opacity: 0.09;
}
.cls_608 {
  fill: #e8e8e8;
  opacity: 0.09;
}
.cls_609 {
  fill: #e7e7e7;
  opacity: 0.09;
}
.cls_610 {
  fill: #e6e6e6;
  opacity: 0.1;
}
.cls_611 {
  fill: #e5e5e5;
  opacity: 0.1;
}
.cls_612 {
  fill: #e4e4e4;
  opacity: 0.11;
}
.cls_613 {
  fill: #e3e3e3;
  opacity: 0.11;
}
.cls_614 {
  fill: #e2e2e2;
  opacity: 0.11;
}
.cls_615 {
  fill: #e1e1e1;
  opacity: 0.12;
}
.cls_616 {
  fill: #e0e0e0;
  opacity: 0.12;
}
.cls_617 {
  fill: #dfdfdf;
  opacity: 0.13;
}
.cls_618 {
  fill: #dedede;
  opacity: 0.13;
}
.cls_619 {
  fill: #ddd;
  opacity: 0.13;
}
.cls_620 {
  fill: #dcdcdc;
  opacity: 0.14;
}
.cls_621 {
  fill: #dbdbdb;
  opacity: 0.14;
}
.cls_622 {
  fill: #dadada;
  opacity: 0.15;
}
.cls_623 {
  fill: #d9d9d9;
  opacity: 0.15;
}
.cls_624 {
  fill: #d8d8d8;
  opacity: 0.15;
}
.cls_625 {
  fill: #d7d7d7;
  opacity: 0.16;
}
.cls_626 {
  fill: #d6d6d6;
  opacity: 0.16;
}
.cls_627 {
  fill: #d5d5d5;
  opacity: 0.16;
}
.cls_628 {
  fill: #d4d4d4;
  opacity: 0.17;
}
.cls_629 {
  fill: #d3d3d3;
  opacity: 0.17;
}
.cls_630 {
  fill: #d2d2d2;
  opacity: 0.18;
}
.cls_631 {
  fill: #d1d1d1;
  opacity: 0.18;
}
.cls_632 {
  fill: #d0d0d0;
  opacity: 0.18;
}
.cls_633 {
  fill: #cfcfcf;
  opacity: 0.19;
}
.cls_634 {
  fill: #cecece;
  opacity: 0.19;
}
.cls_635 {
  fill: #cdcdcd;
  opacity: 0.2;
}
.cls_636 {
  fill: #ccc;
  opacity: 0.2;
}
.cls_637 {
  fill: #cbcbcb;
  opacity: 0.2;
}
.cls_638 {
  fill: #cacaca;
  opacity: 0.21;
}
.cls_639 {
  fill: #c9c9c9;
  opacity: 0.21;
}
.cls_640 {
  fill: #c8c8c8;
  opacity: 0.22;
}
.cls_641 {
  fill: #c7c7c7;
  opacity: 0.22;
}
.cls_642 {
  fill: #c6c6c6;
  opacity: 0.22;
}
.cls_643 {
  fill: #c5c5c5;
  opacity: 0.23;
}
.cls_644 {
  fill: #c4c4c4;
  opacity: 0.23;
}
.cls_645 {
  fill: #c3c3c3;
  opacity: 0.24;
}
.cls_646 {
  fill: #c2c2c2;
  opacity: 0.24;
}
.cls_647 {
  fill: #c1c1c1;
  opacity: 0.24;
}
.cls_648 {
  fill: silver;
  opacity: 0.25;
}
.cls_649 {
  fill: #bfbfbf;
  opacity: 0.25;
}
.cls_650 {
  fill: #bebebe;
  opacity: 0.25;
}
.cls_651 {
  fill: #bdbdbd;
  opacity: 0.26;
}
.cls_652 {
  fill: #bcbcbc;
  opacity: 0.26;
}
.cls_653 {
  fill: #bbb;
  opacity: 0.27;
}
.cls_654 {
  fill: #bababa;
  opacity: 0.27;
}
.cls_655 {
  fill: #b9b9b9;
  opacity: 0.27;
}
.cls_656 {
  fill: #b8b8b8;
  opacity: 0.28;
}
.cls_657 {
  fill: #b7b7b7;
  opacity: 0.28;
}
.cls_658 {
  fill: #b6b6b6;
  opacity: 0.29;
}
.cls_659 {
  fill: #b5b5b5;
  opacity: 0.29;
}
.cls_660 {
  fill: #b4b4b4;
  opacity: 0.29;
}
.cls_661 {
  fill: #b3b3b3;
  opacity: 0.3;
}
.cls_662 {
  fill: #b2b2b2;
  opacity: 0.3;
}
.cls_663 {
  fill: #b1b1b1;
  opacity: 0.31;
}
.cls_664 {
  fill: #b0b0b0;
  opacity: 0.31;
}
.cls_665 {
  fill: #afafaf;
  opacity: 0.31;
}
.cls_666 {
  fill: #aeaeae;
  opacity: 0.32;
}
.cls_667 {
  fill: #adadad;
  opacity: 0.32;
}
.cls_668 {
  fill: #acacac;
  opacity: 0.33;
}
.cls_669 {
  fill: #ababab;
  opacity: 0.33;
}
.cls_670 {
  fill: #aaa;
  opacity: 0.33;
}
.cls_671 {
  fill: #a9a9a9;
  opacity: 0.34;
}
.cls_672 {
  fill: #a8a8a8;
  opacity: 0.34;
}
.cls_673 {
  fill: #a7a7a7;
  opacity: 0.35;
}
.cls_674 {
  fill: #a6a6a6;
  opacity: 0.35;
}
.cls_675 {
  fill: #a5a5a5;
  opacity: 0.35;
}
.cls_676 {
  fill: #a4a4a4;
  opacity: 0.36;
}
.cls_677 {
  fill: #a3a3a3;
  opacity: 0.36;
}
.cls_678 {
  fill: #a2a2a2;
  opacity: 0.36;
}
.cls_679 {
  fill: #a1a1a1;
  opacity: 0.37;
}
.cls_680 {
  fill: #a0a0a0;
  opacity: 0.37;
}
.cls_681 {
  fill: #9f9f9f;
  opacity: 0.38;
}
.cls_682 {
  fill: #9e9e9e;
  opacity: 0.38;
}
.cls_683 {
  fill: #9d9d9d;
  opacity: 0.38;
}
.cls_684 {
  fill: #9c9c9c;
  opacity: 0.39;
}
.cls_685 {
  fill: #9b9b9b;
  opacity: 0.39;
}
.cls_686 {
  fill: #9a9a9a;
  opacity: 0.4;
}
.cls_687 {
  fill: #999;
  opacity: 0.4;
}
.cls_688 {
  fill: #989898;
  opacity: 0.4;
}
.cls_689 {
  fill: #979797;
  opacity: 0.41;
}
.cls_690 {
  fill: #969696;
  opacity: 0.41;
}
.cls_691 {
  fill: #959595;
  opacity: 0.42;
}
.cls_692 {
  fill: #949494;
  opacity: 0.42;
}
.cls_693 {
  fill: #939393;
  opacity: 0.42;
}
.cls_694 {
  fill: #929292;
  opacity: 0.43;
}
.cls_695 {
  fill: #919191;
  opacity: 0.43;
}
.cls_696 {
  fill: #909090;
  opacity: 0.44;
}
.cls_697 {
  fill: #8f8f8f;
  opacity: 0.44;
}
.cls_698 {
  fill: #8e8e8e;
  opacity: 0.44;
}
.cls_699 {
  fill: #8d8d8d;
  opacity: 0.45;
}
.cls_700 {
  fill: #8c8c8c;
  opacity: 0.45;
}
.cls_701 {
  fill: #8b8b8b;
  opacity: 0.45;
}
.cls_702 {
  fill: #8a8a8a;
  opacity: 0.46;
}
.cls_703 {
  fill: #898989;
  opacity: 0.46;
}
.cls_704 {
  fill: #888;
  opacity: 0.47;
}
.cls_705 {
  fill: #878787;
  opacity: 0.47;
}
.cls_706 {
  fill: #868686;
  opacity: 0.47;
}
.cls_707 {
  fill: #858585;
  opacity: 0.48;
}
.cls_708 {
  fill: #848484;
  opacity: 0.48;
}
.cls_709 {
  fill: #838383;
  opacity: 0.49;
}
.cls_710 {
  fill: #828282;
  opacity: 0.49;
}
.cls_711 {
  fill: #818181;
  opacity: 0.49;
}
.cls_712 {
  fill: gray;
  opacity: 0.5;
}
.cls_713 {
  fill: #7f7f7f;
  opacity: 0.5;
}
.cls_714 {
  fill: #7e7e7e;
  opacity: 0.51;
}
.cls_715 {
  fill: #7d7d7d;
  opacity: 0.51;
}
.cls_716 {
  fill: #7c7c7c;
  opacity: 0.51;
}
.cls_717 {
  fill: #7b7b7b;
  opacity: 0.52;
}
.cls_718 {
  fill: #7a7a7a;
  opacity: 0.52;
}
.cls_719 {
  fill: #797979;
  opacity: 0.53;
}
.cls_720 {
  fill: #787878;
  opacity: 0.53;
}
.cls_721 {
  fill: #777;
  opacity: 0.53;
}
.cls_722 {
  fill: #767676;
  opacity: 0.54;
}
.cls_723 {
  fill: #757575;
  opacity: 0.54;
}
.cls_724 {
  fill: #747474;
  opacity: 0.55;
}
.cls_725 {
  fill: #737373;
  opacity: 0.55;
}
.cls_726 {
  fill: #727272;
  opacity: 0.55;
}
.cls_727 {
  fill: #717171;
  opacity: 0.56;
}
.cls_728 {
  fill: #707070;
  opacity: 0.56;
}
.cls_729 {
  fill: #6f6f6f;
  opacity: 0.56;
}
.cls_730 {
  fill: #6e6e6e;
  opacity: 0.57;
}
.cls_731 {
  fill: #6d6d6d;
  opacity: 0.57;
}
.cls_732 {
  fill: #6c6c6c;
  opacity: 0.58;
}
.cls_733 {
  fill: #6b6b6b;
  opacity: 0.58;
}
.cls_734 {
  fill: #6a6a6a;
  opacity: 0.58;
}
.cls_735 {
  fill: #696969;
  opacity: 0.59;
}
.cls_736 {
  fill: #686868;
  opacity: 0.59;
}
.cls_737 {
  fill: #676767;
  opacity: 0.6;
}
.cls_738 {
  fill: #666;
  opacity: 0.6;
}
.cls_739 {
  fill: #656565;
  opacity: 0.6;
}
.cls_740 {
  fill: #646464;
  opacity: 0.61;
}
.cls_741 {
  fill: #636363;
  opacity: 0.61;
}
.cls_742 {
  fill: #626262;
  opacity: 0.62;
}
.cls_743 {
  fill: #616161;
  opacity: 0.62;
}
.cls_744 {
  fill: #606060;
  opacity: 0.62;
}
.cls_745 {
  fill: #5f5f5f;
  opacity: 0.63;
}
.cls_746 {
  fill: #5e5e5e;
  opacity: 0.63;
}
.cls_747 {
  fill: #5d5d5d;
  opacity: 0.64;
}
.cls_748 {
  fill: #5c5c5c;
  opacity: 0.64;
}
.cls_749 {
  fill: #5b5b5b;
  opacity: 0.64;
}
.cls_750 {
  fill: #5a5a5a;
  opacity: 0.65;
}
.cls_751 {
  fill: #595959;
  opacity: 0.65;
}
.cls_752 {
  fill: #585858;
  opacity: 0.65;
}
.cls_753 {
  fill: #575757;
  opacity: 0.66;
}
.cls_754 {
  fill: #565656;
  opacity: 0.66;
}
.cls_755 {
  fill: #555;
  opacity: 0.67;
}
.cls_756 {
  fill: #545454;
  opacity: 0.67;
}
.cls_757 {
  fill: #535353;
  opacity: 0.67;
}
.cls_758 {
  fill: #525252;
  opacity: 0.68;
}
.cls_759 {
  fill: #515151;
  opacity: 0.68;
}
.cls_760 {
  fill: #505050;
  opacity: 0.69;
}
.cls_761 {
  fill: #4f4f4f;
  opacity: 0.69;
}
.cls_762 {
  fill: #4e4e4e;
  opacity: 0.69;
}
.cls_763 {
  fill: #4d4d4d;
  opacity: 0.7;
}
.cls_764 {
  fill: #4c4c4c;
  opacity: 0.7;
}
.cls_765 {
  fill: #4b4b4b;
  opacity: 0.71;
}
.cls_766 {
  fill: #4a4a4a;
  opacity: 0.71;
}
.cls_767 {
  fill: #494949;
  opacity: 0.71;
}
.cls_768 {
  fill: #484848;
  opacity: 0.72;
}
.cls_769 {
  fill: #474747;
  opacity: 0.72;
}
.cls_770 {
  fill: #464646;
  opacity: 0.73;
}
.cls_771 {
  fill: #454545;
  opacity: 0.73;
}
.cls_772 {
  fill: #444;
  opacity: 0.73;
}
.cls_773 {
  fill: #434343;
  opacity: 0.74;
}
.cls_774 {
  fill: #424242;
  opacity: 0.74;
}
.cls_775 {
  fill: #414141;
  opacity: 0.75;
}
.cls_776 {
  fill: #404040;
  opacity: 0.75;
}
.cls_777 {
  fill: #3f3f3f;
  opacity: 0.75;
}
.cls_778 {
  fill: #3e3e3e;
  opacity: 0.76;
}
.cls_779 {
  fill: #3d3d3d;
  opacity: 0.76;
}
.cls_780 {
  fill: #3c3c3c;
  opacity: 0.76;
}
.cls_781 {
  fill: #3b3b3b;
  opacity: 0.77;
}
.cls_782 {
  fill: #3a3a3a;
  opacity: 0.77;
}
.cls_783 {
  fill: #393939;
  opacity: 0.78;
}
.cls_784 {
  fill: #383838;
  opacity: 0.78;
}
.cls_785 {
  fill: #373737;
  opacity: 0.78;
}
.cls_786 {
  fill: #363636;
  opacity: 0.79;
}
.cls_787 {
  fill: #353535;
  opacity: 0.79;
}
.cls_788 {
  fill: #343434;
  opacity: 0.8;
}
.cls_789 {
  fill: #333;
  opacity: 0.8;
}
.cls_790 {
  fill: #323232;
  opacity: 0.8;
}
.cls_791 {
  fill: #313131;
  opacity: 0.81;
}
.cls_792 {
  fill: #303030;
  opacity: 0.81;
}
.cls_793 {
  fill: #2f2f2f;
  opacity: 0.82;
}
.cls_794 {
  fill: #2e2e2e;
  opacity: 0.82;
}
.cls_795 {
  fill: #2d2d2d;
  opacity: 0.82;
}
.cls_796 {
  fill: #2c2c2c;
  opacity: 0.83;
}
.cls_797 {
  fill: #2b2b2b;
  opacity: 0.83;
}
.cls_798 {
  fill: #2a2a2a;
  opacity: 0.84;
}
.cls_799 {
  fill: #292929;
  opacity: 0.84;
}
.cls_800 {
  fill: #282828;
  opacity: 0.84;
}
.cls_801 {
  fill: #272727;
  opacity: 0.85;
}
.cls_802 {
  fill: #262626;
  opacity: 0.85;
}
.cls_803 {
  fill: #252525;
  opacity: 0.85;
}
.cls_804 {
  fill: #242424;
  opacity: 0.86;
}
.cls_805 {
  fill: #232323;
  opacity: 0.86;
}
.cls_806 {
  fill: #222;
  opacity: 0.87;
}
.cls_807 {
  fill: #212121;
  opacity: 0.87;
}
.cls_808 {
  fill: #202020;
  opacity: 0.87;
}
.cls_809 {
  fill: #1f1f1f;
  opacity: 0.88;
}
.cls_810 {
  fill: #1e1e1e;
  opacity: 0.88;
}
.cls_811 {
  fill: #1d1d1d;
  opacity: 0.89;
}
.cls_812 {
  fill: #1c1c1c;
  opacity: 0.89;
}
.cls_813 {
  fill: #1b1b1b;
  opacity: 0.89;
}
.cls_814 {
  fill: #1a1a1a;
  opacity: 0.9;
}
.cls_815 {
  fill: #191919;
  opacity: 0.9;
}
.cls_816 {
  fill: #181818;
  opacity: 0.91;
}
.cls_817 {
  fill: #171717;
  opacity: 0.91;
}
.cls_818 {
  fill: #161616;
  opacity: 0.91;
}
.cls_819 {
  fill: #151515;
  opacity: 0.92;
}
.cls_820 {
  fill: #141414;
  opacity: 0.92;
}
.cls_821 {
  fill: #131313;
  opacity: 0.93;
}
.cls_822 {
  fill: #121212;
  opacity: 0.93;
}
.cls_823 {
  fill: #111;
  opacity: 0.93;
}
.cls_824 {
  fill: #101010;
  opacity: 0.94;
}
.cls_825 {
  fill: #0f0f0f;
  opacity: 0.94;
}
.cls_826 {
  fill: #0e0e0e;
  opacity: 0.95;
}
.cls_827 {
  fill: #0d0d0d;
  opacity: 0.95;
}
.cls_828 {
  fill: #0c0c0c;
  opacity: 0.95;
}
.cls_829 {
  fill: #0b0b0b;
  opacity: 0.96;
}
.cls_830 {
  fill: #0a0a0a;
  opacity: 0.96;
}
.cls_831 {
  fill: #090909;
  opacity: 0.96;
}
.cls_832 {
  fill: #080808;
  opacity: 0.97;
}
.cls_833 {
  fill: #070707;
  opacity: 0.97;
}
.cls_834 {
  fill: #060606;
  opacity: 0.98;
}
.cls_835 {
  fill: #050505;
  opacity: 0.98;
}
.cls_836 {
  fill: #040404;
  opacity: 0.98;
}
.cls_837 {
  fill: #030303;
  opacity: 0.99;
}
.cls_838 {
  fill: #020202;
  opacity: 0.99;
}
.cls_839 {
  fill: #010101;
  opacity: 1;
}
.cls_841 {
  isolation: isolate;
}
.cls_842 {
  font-size: 9px;
}
.cls_843 {
  opacity: 0.34;
}
.cls_844 {
  fill: #ece2e3;
}
.cls_845,
.cls_846 {
  stroke-width: 3.99px;
}
